---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in collections.seoPages %}
  <url>
    <loc>{{ item.url | canonicalUrl(site.url) | escape }}</loc>
    {% if item.data.lastModified or item.data.date %}
    <lastmod>{{ (item.data.lastModified or item.data.date) | isoDate }}</lastmod>
    {% endif %}
  </url>
  {% endfor %}
</urlset>
